:root{
  --theme-color:rgb(201, 200, 200);
  --background-color:rgb(43, 40, 40);
}

::selection {
     
    color: yellow;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color:  var(--background-color);
}


header {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    color: var(--theme-color);;
}

#todo-input {
    width: 20%;
    height: 2.4rem;
    text-align: center;
    border-radius: 20px;
    border: 2px solid  var(--theme-color);
    color: var(--theme-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: var(--background-color);
}

#todo-input:focus {
    outline: none;
    box-shadow: none;
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--theme-color);
}

#add-btn {
    width: 5%;
    height: 2.4rem;
    text-align: center;
    border-radius: 20px;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    cursor: pointer;
    background-color: var(--background-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#add-btn:hover{
 background-color: rgb(66, 63, 63);;
}

#add-btn i:hover{
     background-color: rgb(66, 63, 63);;
}

#todo-input::placeholder {
    font-size: 0.8rem;
}


footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);;
}

.footer-div {
    border: 2px solid var(--theme-color);
    border-radius: 20px;
    width: 20%;
    padding: 7px;
}

 summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

summary::-webkit-details-marker,
summary::marker {
    display: none;
}

details[open] .arrow {
    transform: rotate(180deg);
}

.arrow {
    transition: transform 0.3s ease;
}

details p {
    text-align: center;
    margin-top: 8px;
}


