:root {
    --color-dark: rgb(201, 200, 200);
    --background-color-dark: rgb(43, 40, 40);
    --hover-background-color: rgb(63, 62, 62);
}

::selection {
    color: yellow;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: var(--background-color-dark);
}

header nav {
    max-width: 1200px;
    margin: 10px auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo {
    display: inline-flex;
    align-items: center;
    padding: 7px 7px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

header nav .logo:hover {
    background-color: var(--hover-background-color)
}

header nav .logo img {
    width: 120px;
    height: auto;
    border-radius: 15px;
    display: block;
}

header nav .home-theme {
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav .home-theme .home {
    border-radius: 20px;
    padding: 4px 15px;
    transition: background-color 0.3 ease;
}

header nav .home-theme .home:hover {
    background-color: var(--hover-background-color);
}

header nav .home-theme a {
    text-decoration: none;
    color: var(--color-dark);
    font-size: 1.2rem;
    font-weight: 600;
}

header nav .home-theme .mode {
    display: inline-flex;
    align-items: center;
    padding: 9px 10px;
    border-radius: 100px;
    transition: background-color 0.3s ease;
}

header nav .home-theme .mode:hover {
    background-color: var(--hover-background-color);
}

header nav .home-theme button {
    background: none;
    border: none;
    cursor: pointer;
}

header nav .home-theme button i {
    color: var(--color-dark);
    font-size: 1.2rem;
}


/* ==================================main body==================================================== */
main .home-body {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 16px;

}

.tool-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
}

.tool-card a {
    text-decoration: none;
}

.tool-card .tool {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--color-dark);
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    box-shadow: 4px 4px 10px var(--color-dark);
    transition: transform 0.3s ease-in-out;
}

.tool-card .tool:hover {
    transform: translateY(-10px);

}

.tool-card .tool i {
    font-size: 1.5rem;
    color: var(--color-dark);
}

.tool-card .tool h2 {
    color: var(--color-dark);
    text-align: center;
}