:root {
    --color-dark: rgb(201, 200, 200);
    --background-color-dark: rgb(43, 40, 40);
    --hover-background-color: rgb(63, 62, 62);
    --theme-color: rgb(201, 200, 200);
    --background-color: rgb(43, 40, 40);
}

::selection {
    color: yellow;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: var(--background-color-dark);
}

.outer-body {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 16px;
}

.h1-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--color-dark);
}

.input-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

#input {
    padding: 10px;
    width: 19rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 20px;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: var(--background-color);
}

#input:focus {
    outline: none;
    box-shadow: none;
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--theme-color);
}

#input::-webkit-inner-spin-button,
#input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

 
#input {
    -moz-appearance: textfield;
}


button {
    background-color: var(--background-color);
    border-radius: 20px;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    width: 5rem;
    height: 2.4rem;
    cursor: pointer;
    background-color: var(--background-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover{
    background-color: rgb(66, 63, 63);;
}

#result{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  color: var(--color-dark);
   
}