 :root {
   --theme-color: rgb(201, 200, 200);
   --background-color: rgb(43, 40, 40);
 }

 ::selection {

   color: yellow;
 }

 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 body {
   background-color: var(--background-color);
 }


 header {
   margin-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--theme-color);
 }

 main {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
   margin-top: 20px;
   color: var(--theme-color);
   ;
 }

 .h1-output{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .input-bar {
   margin-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
 }

 #qr-input {
   padding: 10px;
   width: 15rem;
   height: 2.5rem;
   text-align: center;
   border-radius: 20px;
   border: 2px solid var(--theme-color);
   color: var(--theme-color);
   transition: transform 0.2s ease;
   background-color: var(--background-color);
 }

 #qr-input:focus {
    outline: none;
    box-shadow: none;
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--theme-color);
}

button {
    width: 5rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 20px;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    cursor: pointer;
    background-color: var(--background-color);
    transition: background-color 0.3s ease;
}

button:hover{
 background-color: rgb(66, 63, 63);;
}

span{
  margin-top: 50px;
  border: 2px solid var(--theme-color);
  border-radius: 7px;
}

 #minus-btn, #plus-btn {
  font-size: 1.5rem;
  color: var(--theme-color);
  cursor: pointer;
  transition: transform 0.2s ease;
}

#minus-btn:hover, #plus-btn:hover {
  transform: scale(1.2);
}

#qr-input:-webkit-autofill,
#qr-input:-webkit-autofill:hover,
#qr-input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--theme-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}