body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: white;
  gap: 20px;
}

#box {
  width: 120px;
  height: 120px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 10px;
  transition: background-color 0.3s;
}
.active {
  background-color: green;
}
