:root {
    --color-dark: rgb(201, 200, 200);
    --background-color-dark: rgb(43, 40, 40);
    --hover-background-color: rgb(63, 62, 62);
    --theme-color: rgb(201, 200, 200);
    --background-color: rgb(43, 40, 40);
}

::selection {
    color: yellow;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: var(--background-color-dark);
}

.outer-body {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 16px;
}

.h1-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-dark)
}

.input-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    flex-direction: column;
}

#qoute-text {
    font-size: 1.5rem;
    text-align: center;
    max-width: 800px;
    line-height: 1.6;
    min-height: 60px;
    padding: 20px;
    color: var(--color-dark);
}

button {
    background-color: var(--background-color);
    border-radius: 20px;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    width: 5rem;
    height: 2.4rem;
    cursor: pointer;
    background-color: var(--background-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover{
    background-color: rgb(66, 63, 63);;
}