:root {
    --color-dark: rgb(201, 200, 200);
    --background-color-dark: rgb(43, 40, 40);
    --hover-background-color: rgb(63, 62, 62);
    --theme-color: rgb(201, 200, 200);
    --background-color: rgb(43, 40, 40);
}

::selection {
    color: yellow;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {

    background-color: var(--background-color-dark);

}

.outer-body {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 16px;
}

h1 {
    color: var(--color-dark);
    text-align: center;
    margin-bottom: 15px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px;

}

input {
    width: 10rem;
    height: 2.5rem;
    padding: 8px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: var(--background-color);
    font-weight: 600;
}

input:focus {
    outline: none;
    box-shadow: none;
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--theme-color);
}


input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input {
    -moz-appearance: textfield;
}

button {
    height: 2.5rem;
    padding: 8px 12px;
    background-color: var(--background-color);
    border-radius: 50%;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: rgb(66, 63, 63);
    ;
}

.total-and-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    
    margin: 0 auto;
}

h3 {
    color: var(--color-dark);
    text-align: center;
}

ul {


    
    list-style: none;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

li {

    width: 25rem;
    border: 2px solid var(--theme-color);
    color: var(--color-dark);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}

li i {
    
    cursor: pointer;
    transition: color 0.3s ease;
}

li i:hover{
    color: red;
}